*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange-color{
  color:#FD6E0A;
}
.btn{
  color: white;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
:root{
  --orange-color:#FD6E0A;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
/* main style */
header{
    background-color: #FFF8FB;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8FB;
    background-repeat: no-repeat;
    background-position: left top, bottom right;
    padding-top: 50px;
}
nav{
  width: 75%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
nav .menu{
  display: flex;
  align-items: center;
  gap:50px;
  list-style-type:none;
}
nav .menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner{
  /* border: 1px solid black; */
  margin: 46px 30px 0px 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-img img{
  max-width: 585px;
  vertical-align: middle;
}
#about{
  padding-top: 130px;
}
#about .about-container{
  border: 1px solid black;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  text-align: center;
  padding: 131px 56px 131px 56px;
}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4{
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}