*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange-color{
  color:#FD6E0A;
}
.btn{
  color: white;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
}
:root{
  --orange-color:#FD6E0A;
}
/* main style */
header{
    background-color: #FFF8FB;
    padding-top: 50px;
}
nav{
  width: 75%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
nav .menu{
  display: flex;
  align-items: center;
  gap:50px;
  list-style-type:none;
}
nav .menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
