*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange-color{
  color:#FD6E0A;
}
.btn{
  color: white;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
:root{
  --orange-color:#FD6E0A;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

hr{
  color: #d1d1d1;
}
.text-center{
  text-align: center;
}
/* main style */
header{
    background-color: #FFF8FB;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8FB;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
nav{
  width: 75%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
nav .menu{
  display: flex;
  align-items: center;
  gap:50px;
  list-style-type:none;
}
nav .menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner{
  /* border: 1px solid black; */
  margin: 46px 30px 0px 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-img img{
  max-width: 585px;
  vertical-align: middle;
}
#about, #skills, #resume{
  padding-top: 130px;
}
#about .about-container{
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  text-align: center;
  padding: 131px 56px 131px 56px;
}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4{
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}

#skills .skills-container{
  max-width: 1140px;
  margin: 0 auto;
}
.skill-box{
  margin-top: 30px;
  display: flex;
  gap:24px;
}
.skill-card{
  max-width: 267px;
  padding: 30px;
  box-shadow: 0 6px 50px 0 #00000071;
}
.skill-card img{
  max-width: 44px;
  padding-bottom: 30px;
}
.skill-card h3{
font-size: 20px;
font-weight: bold;
color: #181818;
margin-bottom: 20px;
}
.skill-card p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
#resume .resume-container{
  width: 75%;
  max-width: 1140px;
  margin: 0 auto;
}
.resume-content{
  display: flex;
  margin-top: 113px;
  gap: 24px;
}
.content-title{
  margin-bottom: 30px;
}
.content-title h2{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.card{
  max-width: 511px;
  margin-bottom: 30px;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}
.sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.card-text{
  color: #757575;
  line-height: 28px;
}
footer{
  /* margin-top: 113px; */
  background-color: #FFF8FB;
  padding: 130px 0px;
}
footer .footer-container{
  width: 75%;
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  gap:116px
}
.footer-container h2{
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-container p{
  color: #474747;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer-container .social{
  max-width: 562px;
}
.footer-container .icons a{
  margin-right: 24px;
}
.footer-container form input[type="text"],textarea{
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}